<p id="notice"><%= notice %></p>

<p>
  <h2><%= @user.username %>
    <% if @user.banned  %>
        <span class="label label-info">frozen</span>
    <% end %>
  </h2>
</p>

<p>
  <% if @user.ratings.empty? %>
      User doesn't have ratings.
  <% else %>
      Has made <%= "#{pluralize @user.ratings.count, "rating"}" %>, average <%= @user.average_rating %>
  <% end %>
</p>

<p>
  <% if @user.favorite_style.nil? %>
  <% else %>
      Favorite style: <%= @user.favorite_style %>
  <% end %>
</p>

<p>
  <% if @user.favorite_brewery.nil? %>
  <% else %>
      Favorite brewery: <%= @user.favorite_brewery.name %>
  <% end %>
</p>

<p>
  <strong>ratings</strong>
</p>

<p>
    <ul class="list-group">
      <% @user.ratings.each do |rating| %>
          <li class="list-group-item">
            <%= rating %>
            <% if @user == current_user %>
                <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
            <% end %>
          </li>
      <% end %>
    </ul>
</p>

<p>
  <strong>clubs</strong>
</p>

<p>
    <ul class="list-group">
      <% @confirmed_memberships.each do |membership| %>
          <li class="list-group-item"> <%= link_to membership.beer_club.name, membership.beer_club %> </li>
      <% end %>
    </ul>
</p>

<p>
  <strong>pending memberships</strong>
</p>

<p>
<ul class="list-group">
  <% @unconfirmed_memberships.each do |membership| %>
      <li class="list-group-item"> <%= link_to membership.beer_club.name, membership.beer_club %> </li>
  <% end %>
</ul>
</p>

<% if @user == current_user %>
    <%= link_to 'Edit', edit_user_path(@user) %> |
    <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', users_path %>

<% if !current_user.nil? and current_user.admin? %>
    <% btntxt = @user.banned? ? "reactivate account" : "freeze account" %>
    <%= link_to btntxt, toggle_activity_user_path(@user.id), method: :post, class: "btn btn-danger" %>
<% end %>



